body{
    font-family: 'Titillium Web', sans-serif;
    color: #C1403D;
    background-color: rgb(199, 188, 179);
}
#mySketch{
    width: 800px;
    height: 250px;
    border: solid .2em black;
    margin: auto;
}
header{
    margin: auto;
    padding: 1.4em;
    width: 800px;
    background-color: #0294A5;
}
main{
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 h2{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}
ul li a{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: rgb(199, 188, 179);
}
li a:hover{
    color: #C1403D;
}
p {
    font-family: 'Titillium Web', sans-serif;
}
section{
    padding: 2em;
    margin: 1em;
    width: 30%;
    display: inline-block;
    background-color:#03353E;
}
footer{
    padding: 2em;
    position: absolute;
    width: 100%;
    background-color: #04060F;
    text-align: center;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) { 
    main{
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
    section{
        width: 20%;
    }
}

/*colors:
black:       #04060F
Dark Blue:   #03353E
sea blue:    #0294A5
light brown: color: rgb(199, 188, 179);
red:         #C1403D

*/