body{
    font-family: 'Titillium Web', sans-serif;
    color: #03353E;
}
img{
    margin: auto;
}
header{
    padding: 4em;
    background-color: #03353E;
    color: rgb(199, 188, 179);
}
main{
    padding: 3em;
}

h1 h2{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}
ul li a{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: #04060F;
}
li a:hover{
    color: #C1403D;
}
p {
    font-family: 'Titillium Web', sans-serif;
}
section{
    padding: 1em;
    color: #04060F;
    margin: auto;
}
footer{
    padding: 2em;
    background-color: #0294A5;
    text-align: center;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) { 
    main{
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
    section{
        width: 70%;

    }
}

/*colors:
black:       #04060F
Dark Blue:   #03353E
sea blue:    #0294A5
light brown:       color: rgb(199, 188, 179);
red:         #C1403D

*/